# Evalution and Analysis

## Imports:

In [1]:
import pandas as pd
from pathlib import Path
import re
import numpy as np
from sklearn.metrics import r2_score, root_mean_squared_error, mean_absolute_error

## Get predictions and metrics:

In [5]:
def get_model_name(fileName:str):
    '''
    This function gets the model name according to the following naming convention: {model name}_{information...}.npy,
    where {information} is optional. 

    Parameters:
    -----------
    fileName: A string of the models predictions file name.

    Returns:
    --------
    A string of the models name.
    '''

    return re.findall(r'([a-zA-Z0-9]+)',fileName)[0]


def get_predictions(predsPath:Path):
    '''
    This function combines all predictions of all models into one dataframe and includes the ground truth.

    Parameters:
    -----------
    predsPath: A path/string of a path, to the directory of all the predictions

    Returns:
    --------
    Returns a pandas Dataframe of all the models predictions, as well as the ground truth. 
    '''
    # Get the ground truth:
    groundTruth= pd.read_csv(Path('../Data/Test/test1990s.csv'),parse_dates=[0],date_format='%m%Y',index_col=0, usecols=[0,1])

    # make an empty Dataframe to store the models predictions (making the index  the observation data):
    predsDf= pd.DataFrame(index=groundTruth.index)

    # Add the ground truth to the predictions dataframe
    predsDf['ground_truth']= groundTruth

    # Loop over all the files in the predictions folder:
    for i in list(predsPath.glob('*.npy')):
        # Add the predictions to the predictions dataframe, where the column is the model name
        predsDf[get_model_name(i.name)]= np.load(i)[:48]
    
    return predsDf

def calc_metrics(predictionsDf:pd.DataFrame, horizon = None):
    '''
    This function calculates the evaluation metrics of each model, given the predictions dataframe.
    The following metrics are used:
        * RMSE
        * MAE
        * r^2 score

    Parameters:
    -----------
    predictionsDf: a pandas datframe containg the ground truth and all the predictions for each model, organized in columns.

    horizon: number of timesteps to calculate the metrics.

    Returns:
    --------
    Returns a pandas Dataframe containg all the evaluation metrics of all the models, where each column represents a metric and each row represents a model.
    '''
    # Deafult to horizon of 2 years:
    if horizon is None:
        horizon= predictionsDf.shape[0]

    # create an empty dataframe with columns reprresnting an evaluation metric
    metricsDf= pd.DataFrame(columns=['RMSE','MAE', 'r2'])
    
    # Loop over all columns/models in the prtedictions dataframe
    for model in predictionsDf.columns.drop('ground_truth'):#
        # Calculate the metrics and add them to the metrics dataframe
        metricsDf.loc[model,'RMSE']=root_mean_squared_error(predictionsDf['ground_truth'].iloc[:horizon],predictionsDf[model].iloc[:horizon])
        metricsDf.loc[model,'MAE']=mean_absolute_error(predictionsDf['ground_truth'].iloc[:horizon],predictionsDf[model].iloc[:horizon])
        metricsDf.loc[model,'r2']=r2_score(predictionsDf['ground_truth'].iloc[:horizon],predictionsDf[model].iloc[:horizon])

    return metricsDf

In [6]:
predsPath= Path('../Predictions/')
predsDf=get_predictions(predsPath)
display(predsDf)

                  ground_truth   Naive     SARIMAX
observation_date
01/2021                106.083  105.69  106.037814
02/2021                106.471  105.69  106.500217
03/2021                107.032  105.69  106.874017
04/2021                107.632  105.69  107.081435
05/2021                108.184  105.69  107.416452
06/2021                108.748  105.69  107.783812
07/2021                109.275  105.69  108.098582
08/2021                109.720  105.69  108.374557
09/2021                110.047  105.69  108.517250
10/2021                110.741  105.69  108.838195
11/2021                111.510  105.69  109.157473
12/2021                112.221  105.69  109.257278
01/2022                112.776  105.69  109.487404
02/2022                113.489  105.69  109.949464
03/2022                114.489  105.69  110.624818
04/2022                114.845  105.69  110.929111
05/2022                115.542  105.69  111.428452
06/2022                116.631  105.69  112.101065
07/2022                116.662  105.69  111.760521
08/2022                117.002  105.69  111.466447
09/2022                117.377  105.69  111.347652
10/2022                117.891  105.69  111.396066
11/2022                118.221  105.69  111.386921
12/2022                118.403  105.69  111.152405
01/2023                119.007  105.69  111.370423
02/2023                119.401  105.69  111.548111
03/2023                119.553  105.69  111.588692
04/2023                119.970  105.69  111.855790
05/2023                120.140  105.69  111.822498
06/2023                120.435  105.69  111.956513
07/2023                120.598  105.69  112.113080
08/2023                120.965  105.69  112.552096
09/2023                121.387  105.69  112.706554
10/2023                121.421  105.69  112.584955
11/2023                121.415  105.69  112.448889
12/2023                121.602  105.69  112.423233
01/2024                122.115  105.69  112.505190
02/2024                122.494  105.69  112.859505
03/2024                122.912  105.69  113.098575
04/2024                123.234  105.69  113.412585
05/2024                123.224  105.69  113.486857
06/2024                123.369  105.69  113.501413
07/2024                123.575  105.69  113.689299
08/2024                123.727  105.69  113.722389
09/2024                123.939  105.69  113.639974
10/2024                124.235  105.69  113.670485
11/2024                124.387  105.69  113.758739
12/2024                124.705  105.69  113.929280

In [7]:
metricsDf= calc_metrics(predsDf, horizon=12)
display(metricsDf)

             RMSE       MAE        r2
Naive    3.786199     3.282 -3.022498
SARIMAX  1.452663  1.148779  0.407868

# Analysis: