# Evalution and Analysis

## Imports:

In [1]:
from pathlib import Path

## Get predictions and metrics:

In [2]:
from Helper.evaluation_helpers import get_predictions, calc_metrics

In [3]:
predsPath= Path('../Predictions/')
predsDf=get_predictions(predsPath)
display(predsDf)

,ground_truth,ARDL,GRU,NHITS,Naive,NBEATSx,SARIMAX
observation_date,,,,,,,
01/2021,106.083,105.785040,104.798742,106.287415,105.69,105.880539,106.038947
02/2021,106.471,105.785040,104.614738,106.401459,105.69,105.993225,106.501714
03/2021,107.032,105.785040,104.392772,106.361130,105.69,106.098434,106.877229
04/2021,107.632,105.860227,104.176452,106.385925,105.69,106.191010,107.086592
05/2021,108.184,106.270458,103.988449,106.396194,105.69,106.291138,107.423990
06/2021,108.748,106.605603,103.839441,106.481056,105.69,106.396713,107.791156
07/2021,109.275,106.960277,103.721934,106.481674,105.69,106.486832,108.105803
08/2021,109.720,107.328459,103.626826,106.550713,105.69,106.595963,108.381933
09/2021,110.047,107.671517,103.544718,106.595749,105.69,106.687790,108.524800
10/2021,110.741,107.954837,103.465741,106.528931,105.69,106.780563,108.846533
11/2021,111.510,108.216906,103.384115,106.503586,105.69,106.877151,109.166095
12/2021,112.221,108.290666,103.295445,106.504501,105.69,106.982521,109.266186
01/2022,112.776,108.521094,103.195188,106.596252,105.69,107.072044,109.498755
02/2022,113.489,108.244113,103.092049,106.617264,105.69,107.179672,109.963011
03/2022,114.489,108.495492,102.984103,106.641228,105.69,107.277748,110.639717
04/2022,114.845,108.969495,102.874362,106.663544,105.69,107.364937,110.948293
05/2022,115.542,109.220912,102.765103,106.802254,105.69,107.447357,111.447627
06/2022,116.631,109.486687,102.657801,107.010208,105.69,107.557915,112.120840
07/2022,116.662,109.526852,102.553202,106.891006,105.69,107.659401,111.777504
08/2022,117.002,109.689851,102.451423,106.901627,105.69,107.736031,111.482941
09/2022,117.377,109.814064,102.352159,107.110847,105.69,107.850632,111.365517
10/2022,117.891,109.895922,102.254806,107.121033,105.69,107.921318,111.414708
11/2022,118.221,110.189590,102.158743,107.102921,105.69,108.001480,111.405283
12/2022,118.403,110.562433,102.063432,107.165688,105.69,108.092339,111.168507
01/2023,119.007,110.962399,101.968487,107.227203,105.69,108.184578,111.389099
02/2023,119.401,111.228479,101.873868,107.294670,105.69,108.252617,111.567186
03/2023,119.553,111.314111,101.779389,107.339897,105.69,108.328552,111.607438
04/2023,119.970,111.565694,101.685189,107.440697,105.69,108.418472,111.874332
05/2023,120.140,111.709388,101.591393,107.351738,105.69,108.516747,111.839877
06/2023,120.435,111.841497,101.498102,107.403625,105.69,108.580826,111.973313
07/2023,120.598,112.061915,101.405425,107.461494,105.69,108.654106,112.128897
08/2023,120.965,112.184025,101.313446,107.540024,105.69,108.731583,112.570345
09/2023,121.387,112.282118,101.222198,107.672966,105.69,108.806847,112.725025
10/2023,121.421,112.334995,101.131656,107.700302,105.69,108.876106,112.602383
11/2023,121.415,112.357386,101.041775,107.825798,105.69,108.933128,112.466326
12/2023,121.602,112.440404,100.952530,107.917412,105.69,109.014389,112.439726
01/2024,122.115,112.581378,100.863844,108.020737,105.69,109.064171,112.521877
02/2024,122.494,112.660392,100.775734,108.029137,105.69,109.117249,112.878460
03/2024,122.912,112.851749,100.688136,108.077080,105.69,109.210823,113.118009
04/2024,123.234,113.054623,100.601034,108.159164,105.69,109.263977,113.433294
05/2024,123.224,113.209202,100.514423,108.167770,105.69,109.316917,113.506445
06/2024,123.369,113.313774,100.428292,108.197403,105.69,109.372635,113.520319
07/2024,123.575,113.395299,100.342643,108.236557,105.69,109.423859,113.708822
08/2024,123.727,113.506905,100.257453,108.182327,105.69,109.476990,113.742443
09/2024,123.939,113.625126,100.172767,108.234749,105.69,109.543175,113.660019
10/2024,124.235,71.272397,100.088540,108.281471,105.69,109.608795,113.691210
11/2024,124.387,37.893031,100.004770,108.304932,105.69,109.651451,113.779786
12/2024,124.705,40.728108,99.921467,108.387924,105.69,109.718979,113.950499

# Calculate Metrics:

## Horizon = 1

In [4]:
# WARNING: r2 is not well defined for less than 2 samples
metrics_1= calc_metrics(predsDf, horizon=1).drop('r2', axis=1)
display(metrics_1)

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/metrics/_regression.py:1266: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/metrics/_regression.py:1266: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/metrics/_regression.py:1266: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/metrics/_regression.py:1266: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/metrics/_regression.py:1266: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/metrics/_regression.py:1266: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)

             RMSE       MAE
ARDL      0.29796   0.29796
GRU      1.284258  1.284258
NHITS    0.204415  0.204415
Naive       0.393     0.393
NBEATSx  0.202461  0.202461
SARIMAX  0.044053  0.044053

## Horizon = 3

In [5]:
metrics_3= calc_metrics(predsDf, horizon=3)
display(metrics_3)

             RMSE       MAE         r2
ARDL      0.83949  0.743627  -3.643714
GRU       2.00504  1.926583 -25.489902
NHITS    0.406894  0.314942   -0.09093
Naive     0.92473  0.838667   -4.63461
NBEATSx  0.616659  0.537934  -1.505672
SARIMAX  0.094583  0.076513   0.941053

## Horizon = 6

In [6]:
metrics_6= calc_metrics(predsDf, horizon=6)
display(metrics_6)

             RMSE       MAE         r2
ARDL     1.500273  1.343099   -1.59305
GRU      3.309027  3.056568 -11.614523
NHITS    1.315591  1.040942  -0.993938
Naive    1.910852  1.668333  -3.206534
NBEATSx  1.433454   1.21649  -1.367213
SARIMAX  0.550375    0.4153   0.651031

## Horizon = 12

In [7]:
metrics_12= calc_metrics(predsDf, horizon=12)
display(metrics_12)

             RMSE       MAE        r2
ARDL     2.314447  2.095828 -0.503084
GRU      5.586933  5.067886 -7.758622
NHITS    3.104123  2.549541  -1.70375
Naive    3.786199     3.282 -3.022498
NBEATSx  2.968396   2.53351 -1.472479
SARIMAX  1.446428  1.142871   0.41294

# Analysis: